/* h1{ 
        background-color: red;
         color: white; 
         text-align: center;
} */
p{
    background-color: aqua;
    color: brown;
    
}

body{
    background-color: black;
}
.bg-red-h1{
    background-color: red;
    color: aliceblue;
}
.bg-blue-h1{
    background-color: blue;
    color: aliceblue;
}